@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  --background: #2c2c2e;
  --background2: #39393b;

  --gradient: #1E1E20;
  --gradient2: #2D2D2F;

  --border: #8a8a8a;
  --text: #a7a7a7;

  --font: 'Press Start 2P', Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--background);
  color: var(--text);
  font-family: var(--font);
}

body > div {
  padding: 10px 0 0 10px;
}

body > div > div {
  height: 95vh;
  width: 98vw;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
